.footer
    background: #010101
    color: white
    text-align: center

.footer-container
    margin: auto
    max-width: 500px
    padding: 20px 0px

.built-with
    padding: 10px 0px 20px 0px
    img
        padding: 0px 5px
        height: 60px
        width: 60px

@media (max-width: 500px)
    .built-with
        img
            height: 50px
            width: 50px