
.skills
    background: $background-color-dark
    color: $font-light
    padding-bottom: 50px

.languages
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    margin: auto
    max-width: 800px
    text-align: center

.each-language
    margin: auto
    img
        height: 100px
        width: 100px

.skills-text
    margin: auto
    max-width: 500px
    padding: 10px
    text-align: center
    h3
        text-align: center



@media (max-width: 500px)
    .skills
        padding:10px
    .each-language
        img
            height: 65px
            width: 65px
