$primary-color-light: #1759ff
$secondary-color-light: #01f4ff
$accent-color-light:#8f69fd

$primary-color-dark: #27009b
$secondary-color-dark: #640096
$accent-color-dark:#db0078

$font-light:#d4d4d4
$font-dark: #222222
