$primary-color-light: #1759ff
$secondary-color-light: #01f4ff
$accent-color-light:#8f69fd

$primary-color-dark: #202060
$secondary-color-dark:#602080
$accent-color-dark1:#9139d2
$accent-color-dark2: #ea488b
$background-color-dark: #1b0647
$background-accent-dark:#310a7c

$font-light:#d4d4d4
$font-dark: #222222
