@import variables

html
    box-sizing: border-box

body
    background: $background-color-dark
    margin: 0
    min-height: 100vh
    font-family: Playfair Display

.heading
    padding: 20px
    text-align: center
    font-family: Lobster, sans-serif

.break
    border: 0
    height: 1px
    background: $accent-color-dark2
    width: 80%

@media (max-width: 500px)
    .heading
        h1
            font-size: 1.7em

@import nav
@import header
@import skills
@import projects
@import about
@import contact
@import footer

@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Lobster&family=Playfair+Display&display=swap')