@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Lobster&family=Playfair+Display&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Playfair Display;
}

.heading {
  padding: 20px;
  text-align: center;
  font-family: Lobster, sans-serif;
}

.nav {
  background: rgba(0, 0, 0, 0.5);
  height: 50px;
  position: fixed;
  width: 100%;
}

.header {
  align-items: center;
  background: linear-gradient(to bottom right, #27009b, #640096);
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.header-content {
  background: rgba(10, 10, 10, 0.4);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.65);
  color: #d4d4d4;
  padding: 25px 60px;
}
.header-content h1 {
  font-family: Castoro, sans-serif;
  font-size: 2.5em;
  margin: 10px;
}
.header-content h3 {
  font-family: Playfair Display, sans-serif;
  font-size: 1.1em;
}

.social-icons i {
  color: #d4d4d4;
  font-size: 28px;
  padding: 0px 10px;
}
.social-icons i:hover {
  color: #db0078;
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.skills {
  margin-bottom: 50px;
}

.languages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.each-language {
  margin: auto;
}
.each-language img {
  height: 100px;
  width: 100px;
}

.skills-text {
  margin: auto;
  max-width: 500px;
  padding: 10px;
}
.skills-text h3 {
  text-align: center;
}

.projects {
  background: #646464;
  padding-bottom: 50px;
}

.projects-container {
  margin: auto;
  max-width: 900px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.card {
  background: #000000;
  border-radius: 10px;
  color: #fff;
  max-width: 300px;
  text-align: center;
  margin: 20px auto;
}
.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
}

.card-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
  height: 200px;
  margin-top: -200px;
  width: 100%;
  content: "";
}

.card-text {
  padding: 0px 15px;
}

.card-button {
  padding: 15px;
}
.card-button button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 10px;
  width: 100px;
}

.about {
  text-align: center;
}

.about-image img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.about-text {
  margin: auto;
  max-width: 500px;
  padding: 10px;
}

.contact {
  background: #646464;
  padding-bottom: 20px;
  text-align: center;
}

.contact-container {
  margin: auto;
  max-width: 500px;
}
.contact-container form input {
  width: 300px;
}
.contact-container form textarea {
  width: 300px;
}

.footer {
  background: black;
  color: white;
  text-align: center;
}

.footer-container {
  margin: auto;
  max-width: 500px;
  padding: 20px 0px;
}

.built-with {
  padding: 10px 0px 20px 0px;
}
.built-with img {
  padding: 0px 5px;
  height: 60px;
  width: 60px;
}

/*# sourceMappingURL=style.css.map */
